@charset "UTF-8";
/* Accommodationinfo.css CSS Document */
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#kontejnerAccommodation {
	position:relative;
	height:100%;
	width:100%;
	background-color:#F1F0F0;
	margin: 0 auto;
	padding-top: 0.5em;
	min-height:25em;	
}

#Accommodationinfo {
	position:relative;
	height:100%;
	width:100%;
	margin: 0 auto;
}

#Accommodationinfoinfo p {
	margin:0;
	padding:0;
}

.listitems {
	height:auto;
	width:auto;
	font-size:14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#000000;
}

#left {
	float: left;
	margin-right: 2em;
}
#right {
}

#general_description {
	float:left;
	height:75%;
	width:40%;
	margin: 0 3em;
}
#general_description a {
	font-size:14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#000000;
}
