@charset "UTF-8";
/* Accommodationinfo.css CSS Document */

#kontejnerAccommodation {
	position:relative;
	height:80%;
	width:80%;
	background-color:#F1F0F0;
	margin: 0 auto;
	padding-top: 1em;
}

#Accommodationinfo {
	position:relative;
	height:80%;
	width:60%;
	margin: 0 auto;
}

#Accommodationinfoinfo p {
	margin:0;
	padding:0;
}
