@charset "UTF-8";
/* CSS Document */

#main_div {
	width: 100%;
	height: 100%;
	min-width: 65em;
	width: expression((document.body.clientWidth < 65em) ? '65em' : 'auto');
}
 
.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
	height: 2em;
	display: inline-block;
	background-color: #FFF;
	 -khtml-opacity:.80; 
	 -moz-opacity:.80; 
	 -ms-filter:”alpha(opacity=80)”;
	  filter:alpha(opacity=80);
	  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
	  opacity:.80; 
}
.nav a{
    font-family: Tangerine, Forum;
    font-size: 2em;
	text-decoration: none;
	float:left;
	padding-left: 30px;
	padding-bottom: 0px;
	padding-right: 30px;
	padding-top: 3px;
	color:#000000;
}
.nav li a:hover {
	background-color:#666666;
}

#mainmenu {
	position: absolute;
	top: 5em;
	height: 3em;
	width: 100%;
	color:#000;
	z-index: 101;
	margin: 0 auto;
	/*
	background-color: #FFF;
	 -khtml-opacity:.80; 
	 -moz-opacity:.80; 
	 -ms-filter:”alpha(opacity=80)”;
	  filter:alpha(opacity=80);
	  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
	  opacity:.80;
	  */ 
}

body { 
	padding: 0;
	margin: 0;
	background-color: #D5D3D1; 
}

#header { 
	height:3.9em; 
	width: 100%;
	text-align:center;
	padding-top:5px; 
	white-space: nowrap;
	font-size:2.5em;
}
#header a {
	font-family: "Franklin Gothic Bold", "Arial Black", sans-serif;
	color:#FFF;
	margin:0;
	padding:0;
}
#header_intro_text {
	padding:0;
	margin:0;
	font-family: "Franklin Gothic Bold", "Arial Black", sans-serif;
	color:#808080;
	font-size:0.4em;
}
#header_welcome_text {
	padding:0;
	margin-top:0.5em;
	font-family: "Franklin Gothic Bold", "Arial Black", sans-serif;
	color:#2A9FFF;
	font-size:0.4em;
}

#header h {
	font-size:2em;
	font-family: "Tangerine";
	color:#FFF;
}

#footer_band { 
	padding-top: 1.5em;
	height: 3.5em; 
	width: 100%; 
	text-align:center;
	white-space: nowrap;
}
#footer_band_welcome_text {
	font-family: "Franklin Gothic Bold", "Arial Black", sans-serif;
	color:#36F;
	font-size:1em;
}

#slides {
	display: none;	
	z-index: 1;
}

#main_slider_kontejner {
	position: relative;
	width: 100%;
	height: 40%;
}
 
#middlepagecontainer {
	position:absolute;
	height: 70%;
	width: 80%;
	bottom: 0;
	z-index: 100;
	left:50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
	-o-transform: translate(-50%);
    transform: translate(-50%);
}

.footer {
	position:relative;
	background-color:#999FA7;
	height: 17em;
	width: 100%;
}

#guglmaplocation {
 	position:absolute;
	right: 0;
	top: 10px;
 	width: 24em;
	height: 12em;
	margin: 3em 3em auto 0;
}

#footertext {
	width: auto;
	height: 90%;
	margin: 1em auto auto 1em;
	float:left;
 	position:relative;
	font-family:Signika, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-decoration: none;
	color:#FFF;
}
.labeladdress {
	margin: 0.5em auto 0 0.5em;
	font-size:29px;
}
.labeladdress1 {
	margin: 0 auto 0 1em;
	font-size:14px;
}
.labellogo {
	position:absolute;
    bottom:0;
    left:0;
	margin: 0 auto 0 1em;
	font-size:12px;
}
.footerFolowUs {
	height: 90%;
	margin: 1em 0 0 0;
	float:left;
 	position:relative;
	font-family:Signika, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-decoration: none;
	color:#FFF;
	font-size:12px;
}
#footerlinks {
	width:20em;
	heigth:10em;
}

#badgeSince1987 {
	position:absolute;
	top:145px;
	right: 40px;
	z-index:101;
}